* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.app-container {
    padding: 20px;
    background-color: #232626;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
}

.app-header {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.alert-container {
    display: flex;
    justify-content: flex-end;
}

.alert-group {
    max-width: 200px;
    width: 200px;
    border-radius: 10px;
    height: 100%;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
}

.alert-group.golden {
    background: #db1b2a;
    box-shadow: 0 0 5px 0 #db1b2a;
}

.alert-group.normal {
    background: #1ab379;
    box-shadow: 0 0 5px 0 #1ab379;
}

.alert-group.bad {
    background: #8c9710;
    box-shadow: 0 0 5px 0 #8c9710;
}

input {
    padding: 0 14px;
    border: 1px solid #797979;
    font-size: 14px;
    outline: none;
    color: #fff;
    background: none;
    border-radius: 5px;
}

button {
    padding: 0 10px;
    border: none;
    outline: none;
    margin: 2px;
    border-radius: 5px;
    height: 30px;
    font-size: 12px;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn-setting {
    background: #323738;
    color: #fff;
}

.btn-stable {
    background: #525455;
    color: #fff;
}

.btn-verify {
    /* background-image: linear-gradient(90deg, rgb(10 185 97), rgb(106 170 66));
    box-shadow: rgb(53 147 100 / 30%) 0px 0px 12px, rgb(41 177 102) 0px -2px inset; */
    /* background-image: linear-gradient(90deg, rgb(10 185 97), rgb(106 170 66));
    box-shadow: rgb(53 147 100 / 30%) 0px 0px 12px, rgb(41 177 102) 0px -2px inset; */
    background: #04aa6d;
}

.btn-analysis {
    /* background-image: linear-gradient(90deg, rgb(10 185 97), rgb(106 170 66));
    box-shadow: rgb(53 147 100 / 30%) 0px 0px 12px, rgb(41 177 102) 0px -2px inset; */
    background: #04aa6d;
}

.analysis-setting {
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    gap: 20px;
}

.input-container input {
    width: 100%;
    height: 30px;
    font-size: 12px;
}

.count-container {
    display: flex;
    justify-content: space-between;
}

.small-range-chart {
    display: flex;
}

.range-chart {
    margin-bottom: 5px;
    background: #292d2e;
    padding: 10px;
    border-radius: 10px;
}

.main-chart {
    margin-bottom: 10px;
    background-color: #323738;
    padding: 10px;
    border-radius: 10px;
}

.chart-title {
    color: #c8c8c8;
    margin: 4px;
    font-size: 12px;
}

.game-range-custom {
    height: 20px;
    font-size: 12px;
    padding: 0 10px;
    width: 50px;
}

.game-range-main {
    width: 40px;
    height: 30px;
    font-size: 12px;
}

.range-analysis {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.dot-chart {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 2px;
    box-sizing: border-box;
}

.dot-container {
    box-sizing: border-box;
    padding: 10px;
    background-color: #292d2e;
    border-radius: 10px;
    margin-bottom: 4px;
}

.dot-group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.dot-item {
    width: 12px;
    height: 12px;
    /* background: #3a4142; */
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.dot.good {
    background-color: #f6c722;
}

.dot.middle {
    background-color: #008000;
}

.dot.bad {
    background-color: #e56000;
}

.bust-list {
    display: flex;
    justify-content: flex-end;
    gap: 1px;
    margin-bottom: 2px;
}

.bust-item {
    height: 18px;
    padding: 0 2px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    font-size: 11px;
}

.bust-item.bad {
    background-color: #e56000;
}

.bust-item.middle {
    background-color: #008000;
}

.bust-item.good {
    background-color: #f6c722;
}

.dashboard-container {
    max-height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    justify-content: center;
    background: #323738;
    border-radius: 10px;
}

span#game_current_combo {
    font-size: 40px;
    color: #e60606;
    font-weight: 500;
}

.dashboard-item {
    height: 24px;
    margin: 0 1px;
    padding: 0 5px;
    background-color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 12px;
    color: #dfdfdf;
    gap: 4px;
}

.dashboard-status {
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.dashboard-status.mega {
    background: #1b93e9;
}

.dashboard-status.golden {
    background: #f6c722;
}

.dashboard-status.normal {
    background: #008000;
}

.dashboard-status.bad {
    background: #e56000;
}

.dashboard-item.flag {
    background-color: #008000;
}

.setting-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alarm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    align-items: center;
    padding: 0 12px;
    background-color: #323738;
    border-radius: 10px;
}

.alarm-group {
    display: flex;
    gap: 4px;
}

.prediction-group {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
    color: #fff;
}

.alarm-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 1px 4px;
    background: #494c4f;
    border-radius: 4px;
}

.alarm-number {
    font-size: 14px;
    color: #cdcdcd;
}

.alarm-status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.alarm-status.golden {
    background: #f6c722;
}

.alarm-status.normal {
    background: #008000;
}

.alarm-status.bad {
    background: #e56000;
}

.status-modal {
    position: fixed;
    z-index: 99;
}

.status-modal-container {
    display: flex;
    flex-direction: column;
    background: #959595;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #959595;
}

span#game_main_analysis,
span#game_range1_analysis,
span#game_range2_analysis {
    font-size: 14px;
    color: rgb(255, 128, 0);
    font-weight: 500;
}

.danger-modal {
    display: none;
    position: fixed;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
    width: 300px;
    font-size: 14px;
    background: #c52400;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #c53400;
    animation-name: animate;
    animation-duration: 2s;
}


@keyframes animate {
    from {
        left: -350px;
    }

    to {
        left: 20px;
    }
}

@media screen and (max-width: 950px) {
    .btn-stable {
        display: none;
    }
}